{
	"watsonConversation": {
		"credentials": {
	        "username": "write here username for your Watson Conversation service",
	        "password": "write here password for your Watson Conversation service"
		}
	},

	"watsonDiscovery": {
	    "credentials": {
            "username": "write here username for your Watson Discovery service",
            "password": "write here password for your Watson Discovery service"
	    }
    },

	"watsonRetrieveAndRank": {
	    "credentials": {
            "username": "write here username for your Watson Retrieve and Rank service",
            "password": "write here password for your Watson Retrieve and Rank service"
	    }
    }

}
